{% if page.extra.original_statement %}
    <div class="article license">
        <h2 id="yuan-chuang-biao-shi-grinning">
            <a class="zola-anchor" href="#original-statement" aria-label="Anchor link for: original-statement"> 
            {% include "anchor-svg.html" %} 
            </a>
            原创声明
        </h2>
        <div class="article license body">
            <u>本文属于原创，转载请注明原始地址 😀</u> <br/>
            <span class ="label">标题</span>: {{ page.title }} <br/>
            <span class ="label">链接</span>: {{ page.permalink }} <br/>
        </div>    
    </div>
{% endif %}