html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  color: #34495e;
  background: #fefefe;
  border-top: 3px solid $main-colour;
}

.container {
  width: $body-width;
  margin: 0 auto;
  // padding-bottom: 4rem;
}

a:focus {outline-style:none; -moz-outline-style: none;}

hr {
  background-color: #dbdbdb;
  border: none;
  height: 1px;
}

.gist td {
  border: none !important;
}

ol {
  margin: 0 0 0 1.3rem;;
  padding: 0;
}

// 级联有序列表
// ol {
//   list-style:none;
//   counter-reset:a;
//   padding: 0;
// }
// li:before {counter-increment:a;content:counters(a,".")". ";}

ol li {
  font-weight: bold;
}
ol li > * {
  font-weight: normal;
}

ul {
  padding: 0;
  list-style-type: none;
}
ul li { display: block }

ul li:before {
  content: "- ";
  font-weight: bold;
}

@include max-screen() {
  body {
    border-top: 0;
  }

  .container {
    width: 100%;
    box-shadow: -1px -5px 5px #cacaca;
  }
}

a {
  color: $main-colour;
  text-decoration: none;
}

pre {
  display: block;
  // padding: 1rem;
}

pre, code {
  font-size: 90%;
  overflow: auto;
  font-family: $code-font-family;
  margin-bottom: 0;
  color: #c9d2dc;
}

pre > code {
  display: block;
  border: none;
  font-style: normal;
  font-size: 1rem;
}

iframe {
  border: 0;
}

// .embed-wrapper {
//   position: relative;
//   padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
//   width: 100%;
//   height: 0;
//   overflow: hidden;
// }
// .embed-wrapper embed,.embed-wrapper iframe {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

h1, h2, h3, h4, h5, h6 {
  svg {
    display: inline-block;
    vertical-align: middle;
    max-width: 1.2em;
    max-height: 1.2em;
    // fill: #0970d7;
    fill: #0055aa;
    margin-bottom: 2px;
    overflow: hidden;
  }
}

h1, h2 {
  svg {
    margin-bottom: 3px;
  }
}